<nav class="navbar navbar-dark bg-dark navbar-expand-md mb-4 py-2 shadow-sm">
        <div class="container my-auto">
            @Html.ActionLink("Vidly", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Clientes", "Index", "Customers", null, new {@class = "nav-link"})</li>
                    <li class="nav-item">@Html.ActionLink("Filmes", "Index", "Movies", null, new {@class = "nav-link"})</li>
                    <li class="nav-item">@Html.ActionLink("Locações", "Index", "Rentals", null, new {@class = "nav-link"})</li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
